.footer {
    margin-top: 100px;
    padding-top: 24px;
    padding-bottom: 29px;
    background-color: #005AA0;
    color: #FFFFFF;
}
    .footer__wrap {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
        .footer__primary {

        }
            .footer__logo {
                width: 294px;
                height: 29px;
                background-image: url("../images/footer-logo@2x.png");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                text-indent: 200%;
                white-space: nowrap;
                overflow: hidden;
            }

            .footer__actions {
                margin-top: 15px;
                display: flex;
                align-items: baseline;
                gap: 20px;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
            }
                .footer__link {

                }

            .footer__copyright {
                margin-top: 22px;
                font-weight: 500;
                font-size: 15px;
                line-height: 20px;
                color: #D9D9D9;
            }



        .footer__secondary {

        }
            .footer__developer {
                display: flex;
                align-items: baseline;
                justify-content: flex-end;
                gap: 4px;
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                color: #D9D9D9;
                text-transform: lowercase;
            }
                .footer__red-star {
                    width: 73px;
                    height: 15px;
                    background-image: url("../vectors/footer-redstar.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                    text-indent: 200%;
                    white-space: nowrap;
                    overflow: hidden;
                }

            .footer__agreement {
                margin-top: 4px;
                font-weight: 500;
                font-size: 15px;
                line-height: 20px;
                color: #D9D9D9;
            }



@media (width < 740px) {

    .footer {
        position: relative;
        /*margin-top: 100px;*/
        /*padding-top: 24px;*/
        /*padding-bottom: 29px;*/
        /*background-color: #005AA0;*/
        /*color: #FFFFFF;*/
    }
        .footer__wrap {
            position: relative;
            display: block;
            /*align-items: flex-end;*/
            /*justify-content: space-between;*/
        }
            .footer__primary {

            }
                .footer__logo {
                    max-width: 100%;
                    width: 223px;
                    height: 22px;
                    /*background-image: url("../images/footer-logo@2x.png");*/
                    /*background-size: contain;*/
                    /*background-repeat: no-repeat;*/
                    /*background-position: center center;*/
                    /*text-indent: 200%;*/
                    /*white-space: nowrap;*/
                    /*overflow: hidden;*/
                }

                .footer__actions {
                    margin-top: 23px;
                    display: flex;
                    flex-direction: column;
                    /*align-items: baseline;*/
                    gap: 9px;
                    /*font-weight: 500;*/
                    font-size: 12px;
                    line-height: 16px;
                }
                    .footer__link {

                    }

                .footer__copyright {
                    /*margin-top: 22px;*/
                    margin-right: 74px;
                    font-weight: normal;
                    font-size: 11px;
                    line-height: 14px;
                    /*color: #D9D9D9;*/
                }



            .footer__secondary {
                margin-top: 2px;
            }
                .footer__developer {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: flex-start;
                    /*gap: 4px;*/
                    /*font-weight: 500;*/
                    font-size: 9px;
                    line-height: 8px;
                    /*color: #D9D9D9;*/
                    /*text-transform: lowercase;*/
                }
                    .footer__red-star {
                        width: 70px;
                        height: 14px;
                        /*background-image: url("../vectors/footer-redstar.svg");*/
                        /*background-size: contain;*/
                        /*background-repeat: no-repeat;*/
                        /*background-position: center center;*/
                        /*text-indent: 200%;*/
                        /*white-space: nowrap;*/
                        /*overflow: hidden;*/
                    }

                .footer__agreement {
                    margin-top: 0;
                    /*font-weight: 500;*/
                    font-size: 11px;
                    line-height: 14px;
                    /*color: #D9D9D9;*/
                }
}
