.footer {
    margin-top: 230px;
    padding-top: 60px;
    padding-bottom: 36px;
    background-color: #005AA0;
    color: #FFFFFF;
}
    .footer__wrap {

    }
        .footer__primary {
            display: flex;
            align-items: flex-start;
            gap: 80px;
            justify-content: space-between;
        }
            .footer__logo {
                width: 456px;
                height: 46px;
                background-image: url("../images/footer-logo@2x.png");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                text-indent: 200%;
                white-space: nowrap;
                overflow: hidden;
            }

            .footer__channels {
                order: -1;
                display: flex;
                flex-direction: column;
            }
                .footer__contacts {
                    margin-top: 38px;
                    font-size: 18px;
                    font-family: var(--font-simpler);
                }

                .footer__site-link {
                    order: -1;
                }

        .footer__secondary {
            margin-top: 74px;
            display: flex;
            align-items: baseline;
            gap: 80px;
            justify-content: space-between;
        }
            .footer__summary {
                display: flex;
                align-items: baseline;
                gap: 40px;
                font-weight: 500;
                font-size: 15px;
                line-height: 18px;
                color: #D9D9D9;
            }
                .footer__copyright {

                }

            .footer__developer {
                display: flex;
                align-items: baseline;
                gap: 4px;
                font-weight: 500;
                font-size: 15px;
                line-height: 18px;
                color: #D9D9D9;
                text-transform: lowercase;
            }
                .footer__red-star {
                    width: 99px;
                    height: 20px;
                    background-image: url("../vectors/footer-redstar.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                    text-indent: 200%;
                    white-space: nowrap;
                    overflow: hidden;
                }



@media (width < 740px) {

    .footer {
        margin-top: 80px;
        padding-bottom: 40px;
    }
        .footer__wrap {

        }
            .footer__primary {
                display: block;
            }
                .footer__logo {
                    width: 228px;
                    height: 23px;
                }

                .footer__channels {
                    margin-top: 31px;
                    display: block;
                }
                    .footer__contacts {
                        margin-top: 0;
                    }

                    .footer__site-link {
                        margin-top: 31px;
                    }

            .footer__secondary {
                margin-top: 66px;
                display: block;
            }
                .footer__summary {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                }
                    .footer__copyright {

                    }
                        .footer__years {
                            font-family: var(--font-simpler);
                        }

                .footer__developer {
                    margin-top: 18px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    width: fit-content;
                    margin-left: auto;
                    gap: 2px;
                    font-size: 12px;
                    line-height: 16px;
                    text-align: right;
                }
                    .footer__red-star {

                    }
}
