.header {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    right: 0;
    background-color: #FFFFFF;
}

@media (740px <= width < 1200px) {

    .header {
        position: absolute;
    }
}

    .header__wrap {

    }
        .header__strut {
            display: flex;
            justify-content: space-between;
            gap: 40px;
            height: var(--header-height);
            align-items: center;
            border-bottom: 2px solid #E5F4FF;
            transition: height 300ms ease;
        }

        .page-scrolled .header__strut {
            height: 90px;
        }
            .header__logo {
                display: block;
                width: 456px;
                height: 46px;
                background-image: url("../images/header-logo@2x.png");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                text-indent: 200%;
                white-space: nowrap;
                overflow: hidden;
            }

            .header__site-link {
                /*margin-top: 12px; !* В дизайне, но не по центру -- выключаемф *!*/
            }



@media (width < 740px) {

    .header {
        /*position: fixed;*/
        /*z-index: 100;*/
        /*left: 0;*/
        /*top: 0;*/
        /*right: 0;*/
        /*background-color: #FFFFFF;*/
    }
        .header__wrap {

        }
            .header__strut {
                /*display: flex;*/
                /*justify-content: space-between;*/
                gap: 14px;
                height: var(--header-height);
                /*align-items: center;*/
                /*padding-top: 12px;*/
                /*border-bottom: 2px solid #E5F4FF;*/
            }

            .page-scrolled .header__strut {
                height: var(--header-height);
            }
                .header__logo {
                    /*width: 456px;*/
                    /*height: 46px;*/
                    /*background-image: url("../images/header-logo@2x.png");*/
                    /*background-size: contain;*/
                    /*background-repeat: no-repeat;*/
                    /*background-position: center center;*/
                    /*text-indent: 200%;*/
                    /*white-space: nowrap;*/
                    /*overflow: hidden;*/
                }

                .header__site-link {
                    /*margin-top: 12px;*/
                }
}
