.project {
    margin-top: 32px;
    --project-padding: 24px;
    --project-cell-padding: 12px var(--project-padding);
}

.project {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: calc(2 * var(--project-padding));
}
    .project__gallery {

    }
        .project__stage {

        }

        @media (740px <= width) {

            .project__stage .swiper-pagination {
                display: none;
            }
        }

        .project__navigation {
            margin-top: 24px;
        }


        @media (740px <= width) {

            .project__gallery .swiper-button-prev,
            .project__gallery .swiper-button-next {
                top: 0;
                bottom: 0;
                margin: 0;
                width: auto;
                height: auto;
                transition: background-color var(--transition-hover);
            }

            .project__gallery .swiper-button-prev {
                left: 0;
            }

            .project__gallery .swiper-button-next {
                right: 0;
            }
                .project__gallery .swiper-button-prev::after,
                .project__gallery .swiper-button-next::after {
                    text-indent: 200%;
                    white-space: nowrap;
                    overflow: hidden;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: contain;
                    filter: drop-shadow(1px 1px 2px rgb(0 0 0 / 50%));
                }

                .project__gallery .swiper-button-prev::after {
                    background-image: url("../vectors/chevron-left.svg");
                }

                .project__gallery .swiper-button-next::after {
                    background-image: url("../vectors/chevron-right.svg");
                }

                .project__gallery .swiper-button-disabled {
                    pointer-events: auto;
                }

            /* Stage */
            .project__stage .swiper-button-prev {
                padding-left: 40px;
                padding-right: 46px;
            }

            .project__stage .swiper-button-next {
                padding-left: 46px;
                padding-right: 40px;
            }

            .project__stage .swiper-button-prev:hover,
            .project__stage .swiper-button-next:hover {
                background-color: rgb(255 255 255 / 30%);
            }
                .project__stage .swiper-button-prev::after,
                .project__stage .swiper-button-next::after {
                    width: 50px;
                    height: 50px;
                }

            /* Navigation */
            .project__navigation .swiper-button-prev,
            .project__navigation .swiper-button-next {
                padding-left: 10px;
                padding-right: 10px;
            }

            .project__navigation .swiper-button-prev:hover,
            .project__navigation .swiper-button-next:hover {
                background-color: rgb(0 90 160 / 30%);
            }
                .project__navigation .swiper-button-prev::after,
                .project__navigation .swiper-button-next::after {
                    width: 20px;
                    height: 20px;
                }


            /* current item */
            .project__navigation .swiper-slide {
                opacity: 40%;
                transition: opacity 200ms ease;
            }

            .project__navigation .swiper-slide-thumb-active {
                opacity: 1;
            }
        }


    .project__data {

    }
        .project__heading {
            margin-top: 0;
            margin-bottom: 0;
            font-weight: bold;
            font-size: 32px;
            line-height: 32px;
            color: #005AA0;
        }

        .project__description {
            margin-top: 24px;
            font-weight: 500;
        }

        .project__sub-heading {
            margin-top: 22px;
            margin-left: calc(-1 * var(--project-padding));
            padding: var(--project-cell-padding);
            font-weight: bold;
            font-size: 18px;
            line-height: 24px;
        }

        .project__stats {
            vertical-align: top;
            width: calc(100% + var(--project-padding));
            margin-left: calc(-1 * var(--project-padding));
            table-layout: fixed;
            border-collapse: collapse;
            border-bottom: 1px solid #BDBDBD;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
        }
            .project__row {
                border-top: 1px solid #BDBDBD;
            }
                .project__param {
                    padding: var(--project-cell-padding);
                    font-weight: inherit;
                    text-align: left;
                }

                .project__value {
                    padding: var(--project-cell-padding);
                }


@media (740px <= width < 1400px) {
    .project__stats {
        table-layout: auto;
    }
        .project__param {
            width: 60%;
        }
}


@media (width < 740px) {

    .project {
        margin-top: 16px;
        --project-cell-padding: 12px 0;
    }

    .project {
        display: block;
    }
        .project__gallery {

        }
            .project__stage {

            }
                .project__stage .swiper-navigation {
                    display: none;
                }

                .project__stage .swiper-pagination {
                    display: block;
                }
                    .project__stage .swiper-pagination-bullet {
                        margin: 0 !important;
                        background-color: transparent !important;
                        opacity: 100% !important;
                        width: auto;
                        height: auto;
                        padding: 10px 4px;
                        vertical-align: top;
                    }
                        .project__stage .swiper-pagination-bullet::after {
                            content: "";
                            display: block;
                            width: 7px;
                            height: 7px;
                            background-color: #BDBDBD;
                            border-radius: 50%;
                            box-shadow: 0 2px 2px rgb(0 0 0 / 20%);
                            transition: background-color var(--transition-hover);
                        }

                        .project__stage .swiper-pagination-bullet:hover::after {
                            background-color: #FFFFFF;
                        }

                        .project__stage .swiper-pagination-bullet-active::after {
                            background-color: #FFFFFF;
                        }

            .project__navigation {
                display: none;
            }


        .project__data {
            margin-top: 24px;
        }
            .project__heading {
                font-size: 24px;
                line-height: 24px;
            }

            .project__description {
                margin-top: 13px;
            }

            .project__sub-heading {
                margin-top: 12px;
                margin-left: 0;
            }

            .project__stats {
                width: auto;
                margin-left: 0;
                table-layout: fixed;
            }

                .project__row {

                }
                    .project__param {
                        width: 50%;
                        padding-right: 10px;
                    }

                    .project__value {
                        width: 50%;
                        padding-left: 10px;
                        text-align: right;
                    }
}
