.project {
    --project-cell-padding: 12px 24px;
}

.project {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 48px;
}
    .project__gallery {
        height: 200px;
        background: purple;
    }

    .project__data {

    }
        .project__heading {
            margin-top: 0;
            margin-bottom: 0;
            font-weight: bold;
            font-size: 32px;
            line-height: 32px;
            color: #005AA0;
        }

        .project__description {
            font-weight: 500;
        }

        .project__sub-heading {
            padding: var(--project-cell-padding);
            font-weight: bold;
            font-size: 18px;
            line-height: 24px;
        }

        .project__stats {
            vertical-align: top;
            width: 100%;
            table-layout: fixed;
            border-collapse: collapse;
            border-bottom: 1px solid #BDBDBD;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
        }

            .project__row {
                border-top: 1px solid #BDBDBD;
            }
                .project__param {
                    padding: var(--project-cell-padding);
                    font-weight: inherit;
                    text-align: left;
                }

                .project__value {
                    padding: var(--project-cell-padding);
                }

@media (740px <= width < 1400px) {
    .project__stats {
        table-layout: auto;
    }
        .project__param {
            width: 60%;
        }
}
