.project {
    margin-top: 40px;
    --project-padding: 24px;
    --project-cell-padding: 12px var(--project-padding);
}

.project {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: calc(2 * var(--project-padding));
}
    .project__gallery {

    }
        .project__stage {

        }

        .project__navigation {
            margin-top: 24px;
        }


        @media (740px <= width) {

            .project__gallery .swiper-button-prev,
            .project__gallery .swiper-button-next {
                top: 0;
                bottom: 0;
                margin: 0;
                width: auto;
                height: auto;

                transition: background-color var(--transition-hover);
            }

            .project__gallery .swiper-button-prev {
                left: 0;
            }

            .project__gallery .swiper-button-next {
                right: 0;
            }


            /* Stage */
            .project__stage .swiper-button-prev,
            .project__stage .swiper-button-next {
                padding-left: 40px;
                padding-right: 40px;
            }

            .project__stage .swiper-button-prev:hover,
            .project__stage .swiper-button-next:hover {
                background-color: rgb(255 255 255 / 30%);
            }
                .project__stage .swiper-button-prev::after,
                .project__stage .swiper-button-next::after {
                    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
                }

            /* Navigation */
            .project__navigation .swiper-button-prev,
            .project__navigation .swiper-button-next {
                padding-left: 10px;
                padding-right: 10px;
            }

            .project__navigation .swiper-button-prev:hover,
            .project__navigation .swiper-button-next:hover {
                background-color: rgb(0 90 160 / 30%);
            }
                .project__navigation .swiper-button-prev::after,
                .project__navigation .swiper-button-next::after {
                    font-size: 24px;
                    color: #FFFFFF;
                    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
                }


            /* current item */
            .project__navigation .swiper-slide {
                opacity: 40%;
                transition: opacity 200ms ease;
            }

            .project__navigation .swiper-slide-thumb-active {
                opacity: 1;
            }

        }


    .project__data {

    }
        .project__heading {
            margin-top: 0;
            margin-bottom: 0;
            font-weight: bold;
            font-size: 32px;
            line-height: 32px;
            color: #005AA0;
        }

        .project__description {
            margin-top: 24px;
            font-weight: 500;
        }

        .project__sub-heading {
            margin-top: 38px;
            margin-left: calc(-1 * var(--project-padding));
            padding: var(--project-cell-padding);
            font-weight: bold;
            font-size: 18px;
            line-height: 24px;
        }

        .project__stats {
            vertical-align: top;
            width: calc(100% + var(--project-padding));
            margin-left: calc(-1 * var(--project-padding));
            table-layout: fixed;
            border-collapse: collapse;
            border-bottom: 1px solid #BDBDBD;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
        }
            .project__row {
                border-top: 1px solid #BDBDBD;
            }
                .project__param {
                    padding: var(--project-cell-padding);
                    font-weight: inherit;
                    text-align: left;
                }

                .project__value {
                    padding: var(--project-cell-padding);
                }


@media (740px <= width < 1400px) {
    .project__stats {
        table-layout: auto;
    }
        .project__param {
            width: 60%;
        }
}


@media (width < 740px) {

    .project {
        margin-top: 32px;
        --project-cell-padding: 12px 0;
    }

    .project {
        display: block;
    }
        .project__gallery {
            /*height: 200px;*/
            /*background: purple;*/
        }
            .project__stage {

            }

            .project__navigation {
                display: none;
            }

        .project__data {
            margin-top: 40px;
        }
            .project__heading {
                font-size: 24px;
                line-height: 34px;
            }

            .project__description {
                margin-top: 16px;
            }

            .project__sub-heading {
                margin-left: 0;
                /*font-size: 18px;*/
                /*line-height: 24px;*/
            }

            .project__stats {
                /*vertical-align: top;*/
                width: auto;
                margin-left: 0;
                /*table-layout: fixed;*/
                /*border-collapse: collapse;*/
                /*border-bottom: 1px solid #BDBDBD;*/
                /*font-weight: 500;*/
                /*font-size: 16px;*/
                /*line-height: 19px;*/
                display: block;
            }

                .project__row {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 40px;
                    /*border-top: 1px solid #BDBDBD;*/
                }
                    .project__param {
                        display: block;
                        /*padding: var(--project-cell-padding);*/
                        /*font-weight: inherit;*/
                        /*text-align: left;*/
                    }

                    .project__value {
                        display: block;
                        /*padding: var(--project-cell-padding);*/
                        text-align: right;
                    }
}
