.related {
    margin-top: 73px;
}
    .related__heading {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 32px;
        line-height: 38px;
        color: #005AA0;
    }

    .related__list {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 24px;
    }
        .related__item {

        }



@media (width < 740px) {

    .related {
        margin-top: 40px;
    }
        .related__heading {
            font-size: 24px;
            line-height: 28px;
        }

        .related__list {
            margin-top: 24px;
            grid-template-columns: repeat(3, 1fr);
            gap: 24px 20px;
        }
            .related__item:nth-child(n+4) {
                display: none;
            }

}
