<!DOCTYPE html>
<html lang="en" itemscope itemtype="https://schema.org/Thing">
    <head>
        <meta charset="utf-8">
        <title>Каталог</title>
        <meta name="description" content="[%description%]">

        <!-- schema.org (google plus) -->
        <meta itemprop="url" content="[%url%]">
        <meta itemprop="image" content="[%img%]">
        <meta itemprop="name" content="[%title%]">
        <meta itemprop="description" content="[%description%]">

        <!-- ogp.me (facebook & vkontakte) -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="[%url%]">
        <meta property="og:image" content="[%img%]">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="675">
        <meta property="og:title" content="[%title%]">
        <meta property="og:description" content="[%description%]">
        <meta property="fb:app_id" content="[%facebook-app-id%]">

        <!-- twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="[%url%]">
        <meta name="twitter:image" content="[%img%]">
        <meta name="twitter:title" content="[%title%]">
        <meta name="twitter:description" content="[%description%]">
        <meta name="twitter:site" content="@user">
        <meta name="twitter:creator" content="@user">

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
        <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#FFFFFF">

        <!-- manifest -->
        <link rel="manifest" href="../manifest.json">
        <meta name="theme-color" content="#FFFFFF">
        <meta name="msapplication-config" content="../browserconfig.xml">
        <meta name="msapplication-TileColor" content="#FFFFFF">

        <!-- assets -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/style.css">

    </head>
    <body>

        <!--[if IE]>
            <div class="browser">
                Вы используете устаревший браузер. Для корректной работы этого сайта и большинства других вам необходимо перейти на современный&nbsp;браузер.
            </div>
        <![endif]-->

        <div class="footer">
            <div class="footer__wrap container">
                <div class="footer__primary">
                    <div class="footer__logo">
                        Производственная компания Рыбинсккомплекс
                    </div>
                    <div class="footer__channels">
                        <div class="footer__contacts">
                            <a class="link link--fake" href="tel:+74855290880">+7 (4855) 290-880</a>
                        </div>
                        <div class="footer__site-link">
                            <a class="button button--inverted" href="#">Перейти на сайт</a>
                        </div>
                    </div>
                </div>
                <div class="footer__secondary">
                    <div class="footer__summary">
                        <span class="footer__copyright">© АО «ПФК «Рыбинсккомплекс» <span class="footer__years">2004-2024</span></span>
                        <a class="link link--inverted-text" href="#">Пользовательское соглашение</a>
                        <a class="link link--inverted-text" href="#">Карта сайта</a>
                    </div>
                    <div class="footer__developer">
                        Разработано
                        <div class="footer__red-star">Редстар</div>
                    </div>
                </div>
            </div>
        </div>




        <script src="../vendors/jquery/jquery-3.7.1.min.js"></script>
        <script src="../vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="../scripts/_mfp.js"></script>
        <script src="../scripts/_input.js"></script>

    </body>
</html>
